*{
    padding: 0;
    margin: 0;
    
 }
 body{
     background:linear-gradient(90deg,white 0%,lightpink 40%,lightblue 80%);
 
 }
 .vlogo img{
 max-width: 300px;
 padding-right: 400px;
 padding-left: 20px;
 }
 .head{
     display: flex;
 }
 h1{
     padding: 90px 0px 20px 20px;
     color: #824CEF;
     text-align:left; 
     font-family: 'roboto flex';
     font-style: normal;
     font-weight: 500;
     font-size: 64px;
 }
 .info{
     display: flex;
     gap: 20px;
 
 
 }
 .info p{ font-size: 22px;
 text-indent: 8px;}
 
 .telephone1{
  border: 1px solid white;
     
   
 }
 a{
     text-decoration: none;
     color: white;
 }    
     i{padding: 6px;
         gap: 6px;}
 
 .telephone2{
     display: flex;
     margin: 4px;
     color: rgba(231, 231, 231, 0.966);
     border-radius: 399px;
     background-color: rgb(230, 169, 55);
 }
 .twotable{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     row-gap: 20px;
 
 }
 h5{
     margin: 4px 15px;
     text-align: center;
 }
 .bigbox{
     background: rgba(255, 255, 255,0.4);
     box-shadow: 2px 2px 2px rgb(255,255,255);
     backdrop-filter: blur(12px);
     display: flex;
     border-radius: 12px;
     flex-direction: column;
     align-items: flex-start;
     padding: 20px;
     grid-column: span 2;  
     justify-self: center;
 
 }   
 .bigbox1{
     background: rgba(255, 255, 255,0.4);
     box-shadow: 2px 2px 2px rgb(255,255,255);
     backdrop-filter: blur(12px);
     display: flex;
     border-radius: 12px;
     flex-direction: column;
     align-items: flex-start;
     padding: 20px;
     justify-self: center;
     grid-column:  span 5;
 }   
   
         .boxs{
         display: flex;}
         .box{
             padding: 4px 10px;
             border-radius: 12px;
             margin: 4px;
             width: 100px;
             color: black;
             background-color: white;
 
             text-align: center;
         }
 
 h2{
 padding-top: 50px;
 font-family: 'roboto flex';
 font-style: normal;
 font-weight: 700;
 font-size: 32px;
 text-align: center;
 color: #824CEF;
 line-height: 125px;
 }    
 .blurstar{
     position: absolute;
     top: 827px;
     left: 833px;
 }    
 .whypics{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }    
 .picturebox{
     margin: 30px;
    width: 386px;
     color: black;
     border-radius: 5px;
     background-color:white;
     text-align: center;
     grid-column: span 1;
 }
 .picturebox1{
  justify-self: center;
     grid-column: span 3 ;
 }
 
 .centrewhy{
  justify-self: center;
 }
 
 .blur1{
     position: absolute;
     top: 1395px;
     left: 10px;
 }
 .blur2{
     position: absolute;
     top: 1670px;
     left: 1107px;
     justify-content: center;
 }
 .top{
     position: absolute;
     top: 1800px;
     left: 904px;
     z-index: -1;
 }
 .id{
     grid-template-columns: repeat(4,1fr);
     justify-self: center;
 
 }
 .vinod{
     display: flex;
     padding-top: 194px;
   justify-content: center;
    
    
    
 }
 .vinod img{
     color: black;
     height: 243px;
     padding: 10px 43px 10px 10px;
     background: radial-gradient(100% 1543% at 0% 0%, rgba(255, 255, 255, 1 ) 0%, rgba(255, 255, 255,1 ) 100%); 
 
     width: 221px;
     border: 1px solid rgba(255,255,255,0.3);
     box-shadow: 1px  rgba(255, 255, 255, 0.3);
     border-radius: 3px;
     backdrop-filter: blur(12px);
     grid-column: span 2;  
     justify-self: center;
    
     display: grid;
 grid-template-columns: repeat(1,1fr);
 justify-self: center;px;}
         
 .bottom{
     position: absolute;
     top: 1980px;
     left: 130px;
 z-index: -1;
     }
    
 
 
 
 @media only  screen and  (max-width:800px) 
 { .bigbox{
     grid-column: span 4;
 }
 .bigbox1{
     grid-column: span 4;
 }
 .whypics{
     grid-column: span 3;}
     .centrewhy{
 
         grid-column: span 1;
     }
     .picturebox{
         grid-column: span 3;
     }
     .blur1{
         display: none;
 
     }
     .blur2{ display: none;}
     .blurstar{display: none;}
     .bigimg{display:none;}
     .top{display: none;}
     .bottom{display: none;}
 
     
 }